div{
    border:solid 1px black
}
.contenedor{
    clear: both;
}

.contenedor__hijo{
    padding: 10px;
    display: block;
    float: left;
    margin: 0 auto;
}

.izquierda{
    height: 100px;
    width: 100px;
    border:solid 1px red;
    display: block;
    float: left;
}
.derecha{
    height: 100px;
    width: 100px;
    border:solid 1px blue;
    display: block;
    float: left;
}

.random{
    height: 100px;
    width: 100px;
    border:solid 1px green;
    float: left;
}





/* 

div default es block
display inline;
flex
grid
inline-block



*/